<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label 'Github Username' %><br />
    <%= f.text_field :github %>
  </div>
  <div class="field">
    <%= f.label 'Google+ Profile URL' %><br />
    <%= f.text_field :googleplus %>
  </div>
  <div class="field">
    <%= f.label 'Twitter Username' %><br />
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <%= f.label 'Profile Picture URL' %><br />
    <%= f.text_field :avatar %>
  </div>
  <div class="field">
    <%= f.label 'Blog' %><br />
    <%= f.text_field :blog %>
  </div>
  <div class="field">
    <%= f.label 'Facebook ID' %><br />
    <%= f.text_field :facebook %>
  </div>
  <% if can? :assign_roles, @user %>
    <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
