<h1>Listing events</h1>

    <table>
      <tr>
        <th>Serie</th>
        <th>Title</th>
        <th>Location</th>
        <th>Start datetime</th>
        <th>End datetime</th>
        <th>Announcement</th>
        <th>Recap</th>
        <th>Organiser</th>
        <th>Google Plus</th>
        <th>Facebook</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @events.each do |event| %>
      <tr>
        <td><%= event.serie_id %></td>
        <td><%= event.title %></td>
        <td><%= event.location_id %></td>
        <td><%= event.start_datetime %></td>
        <td><%= event.end_datetime %></td>
        <td><%= event.announcement %></td>
        <td><%= event.recap %></td>
        <td><%= event.organiser %></td>
        <td><%= event.facebook %></td>
        <td><%= event.google_plus %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New Event', new_event_path %>