    <!-- <h1>Listing events</h1>

    <table>
      <tr>
        <th>Serie</th>
        <th>Title</th>
        <th>Location</th>
        <th>Start datetime</th>
        <th>End datetime</th>
        <th>Announcement</th>
        <th>Recap</th>
        <th>Organiser</th>
        <th>Logo</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @events.each do |event| %>
      <tr>
        <td><%= event.serie_id %></td>
        <td><%= event.title %></td>
        <td><%= event.location_id %></td>
        <td><%= event.start_datetime %></td>
        <td><%= event.end_datetime %></td>
        <td><%= event.announcement %></td>
        <td><%= event.recap %></td>
        <td><%= event.organiser %></td>
        <td><%= event.logo %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New Event', new_event_path %>

    -->

    <div class="container events">
        <header>
            <nav>
                <ul class="nav nav-pills pull-left">
                    <li><a href="#details">Details</a></li>
                    <li><a href="#concept">Concept</a></li>
                    <li><a href="#schedule">Schedule</a></li>
                </ul>
                <ul class="nav nav-pills pull-right">
                    <li><a href="#faq">FAQ</a></li>
                    <li class="inactive"><a href="#projects">Projects</a></li>
                    <li class="inactive"><a href="#people">People</a></li>
                </ul>
                <%= image_tag "logo/make01.png", :class => 'banner pull-left' %>
            </nav>
        </header>
        <div class="hero-unit">
            <div class="call-to-action">
                <h3>Data is innovation's raw resource - with Open Data, it's yours.</h3>
                <div class="make-list-container">
                    <h4 class="make-list">MAKE</h4>
                    <ul>
                        <li>info-graphics,</li>
                        <li>a tool,</li>
                        <li>a visual language, </li>
                        <li>a service,</li>
                        <li>a definition,</li>
                    </ul>
                </div>
                <h3>14, 18 & 19 May - Open Data Hackathon: Hong Kong</h3>
            </div>
            <p>Cities and nations the world over are opening up their data sets for unlimited use. Hong Kong has its own initiative with Data.One, and now there's a hackathon to prove it. At the Make.01 hackathon we'll build social and technical innovations with open data. Think food poisoning alerts on OpenRice, info-graphics on the conglomerates, or mapping urban flows. Think about the process of getting from data source to data consumption. From data glut, to data utility. But most of all, think of how your community will benefit from real-time, structured data, and build it at Make.01.</p>
            <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class => 'pull-left' %>
            <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), :class => 'pull-left' %>
            <%= link_to "Sign in with Github", user_omniauth_authorize_path(:github), :class => 'pull-left' %>
            <div class="hashtag pull-right">
                <p href ="https://twitter.com/search/realtime?q=%23ODHK" class="button">#ODHK <%= image_tag "icon/bird.png", :class => 'twitter' %></p>
                <!-- <a href ="https://twitter.com/search/realtime?q=%23ODHK" class="button">#ODHK <%= image_tag "icon/bird.png", :class => 'twitter' %></a> -->
                
            </div>
            <a href="http://make01.eventbrite.com/" class="button pull-right">Register</a>
            <p class="button-label pull-right">HK$ 50</p>
        </div>

    <section id="details">
        <div class="row">
            <div class="span12">
                <div class="event-panel">
                    <h2>Event Details</h2>
                    <div class="row-fluid" >
                    <div class="span6 info-panel">
                        <h3>Dates</h3>
                        <h4>Catalyst Night</h4>
                        <p>Tue, 14 May : 19:00 - 21:00</p>
                        <h4>Make.01 Day 1</h4>
                        <p>Sat, 18 May : 13:00 - 24:00</p>
                        <h4>Make.01 Day 2</h4>
                        <p>Sun, 19 May : 10:00 - 19:00</p>
                    </div>
                    <div class="span6 info-panel">
                        <h3>Venue</h3>   
                        <h4>The Good Lab</h4> 
                        <p>L1, The Sparkle, 500 Tung Chau Street,</p> 
                        <p>West Kowloon</p>
                        <p>MTR: Cheung Sha Wan or Nam Cheong</p>
                        <br>
                        <i class="icon-arrow-down"></i>
                    </div>
                    <iframe width="100%" height="320px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Tung+Chau+Street,+500,+Sham+Shui+Po,+Hong+Kong&amp;aq=0&amp;oq=500+Tung+Chau+Street&amp;sll=37.0625,-95.677068&amp;sspn=59.727033,102.480469&amp;ie=UTF8&amp;hq=&amp;hnear=500+Tung+Chau+St,+Hong+Kong&amp;ll=22.33306,114.1525&amp;spn=0.004327,0.006255&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near"></iframe>

                    <h3 id="sponsors">Sponsors</h3>
                    <div class="row-fluid" >
                        <div class="sponsor span4">
                            <i class="icon-home"></i>
                            <h4>Venue Sponsor</h4>
                            <h5><a href="http://goodlab.hk">The GoodLab</a></h5>
                            <p>Our lovely host is a co-working space that leans towards a sustainable, innovative, and equitable future by fostering cross-disciplinary collaboration and social innovation.</p><p>The GoodLab takes this a step further and connects its members with mentors and investors.</p>
                        </div>
                        <div class="sponsor span4">
                            <i class="icon-leaf"></i>
                            <h4>Amenity Sponsor</h4>
                            <h5><a href="http://demystdata.com">DemystData</a></h5>
                            <p><em>The</em> big data question to ask is: we have all this data, now what do we do with it?</p>
                            <p>DemystData spurs innovation in the financial sector by allowing micro and p2p lenders to profile their customers and make judgement calls with confidence.</p>
                        </div>
                        <div class="sponsor span4">
                            <i class="icon-gift"></i>
                            <h4>Prize Sponsor</h4>
                            <h5>Pindar Wong</h5>
                            <p>The Raspberry Pi is a device that was designed to kick-start a programming renaissance. It's an all-in-one credit-card sized computer that is ideal for tinkering, prototyping, and innovating.</p>
                            <p>In support of the renaissance, Pindar has kindly donated a maker's fruit basket to Make.01.</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="concept">
        <div class="row">
            <div class="span12">
                <div class="event-panel">
                    <h2>Concept</h2>
                    <p>Open Data is the idea that certain data (non-personal) should be freely available to everyone to use and republish as they wish, without restrictions from copyright, patents or other control mechanisms. The value of this idea is that it improves transparency (What are my taxes being spent on?), it can optimize existing industries (What should hospitals specialize in?), or create new ones (How do public transport providers get me from A to B?).</p>
                    <p>At Make.01 we'll write applications, liberate data, create visualizations and publish analyses using open data to show support for and encourage the adoption of open data policies.</p>
                    
                    <h3>Who is this for?</h3>
                    <p>Developers get crafty at hackathons, service designers have their 'Global Jam', Data Scientists route cars at Traffic Camp, and entrepreneurs launch ideas over a StartUp Weekend. For many disciplines and niches, there are events where over the course of the weekend attendees learn about or develop something in their niche. Make.01 is all that, but isn't restricted or reducible to a formula like 'Business + Design + Technology'.
                    <p>Open Data can be sourced and built on in any domain or industry, so this event is open to anyone who has an idea for using open data, wants to find an interesting project to contribute towards, learn about how to visualize or analyse data or simply want to see what's happening.</p>
                    <p>OpenData is a truly cross-disciplinary affair so that's why we expect that Developers, Statisticians, Journalists, Designers, and Citizens alike will each contribute their skills to the projects at Make.01</p>
                    <img class="col-image" src="http://assets.okfn.org/images/data-types.png">
                    <h3>How will it work?</h3>
                    <p>Make.01 is a weekend where people with complementary skill-sets team up to make with and for Open Data. We'll hold a Catalyst night on the Tuesday before the event, so all participants are introduced to each other and everyone gets a chance to pitch their project ideas for the weekend.</p>
                    <p>We'll do some complex number crunching and people polling and come up with a list of projects which have sufficient people behind them to be feasibly made over a weekend. Projects can be merged if sufficiently similar. People are then free to join the teams of their choosing. We'll do a final round to confirm which projects have teams rallied behind them. To accommodate those projects which are one-person/few hours projects, we'll keep the schedule flexible, and spread them over the course of the weekend.</p>
                    <p>You'll be able to submit and review project proposals on this page as soon as the submission system goes live.</p>
                    <p>Between the catalyst night and the weekend, makers will have the opportunity to sharpen their pencils, setup their development environments, and generally get the more mundane setup stage over with prior to the event.</p>
                    <p>Over the weekend the teams will work on their respective projects. Since some projects will be completed within hours, and some short-trackers only have day-tickets, some people will work on multiple projects with multiple teams over the weekend. It'll depend on the projects and teams however whether they can accommodate late members. Be sure to join at least join one team before coming on the weekend. At times we'll check in with the teams and have little presentation rounds to see where everyone's at and make sure no-one is stuck.</p>
                    <p>During a final round of presentations every team will get to show off and discuss their project. Though participation in Make.01 is primarily for self-fulfilment, several Raspberry Pis have been made available to be awarded to the most successful project. Success if a popularity contest! Participants get to vote for their favourite project.</p>
                    <p>Check out the <a href="#schedule">schedule</a> for a more detailed run-down of the catalyst night and the Make.01 weekend.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="schedule">
        <div class="row">
            <div class="span12">
                <div class="event-panel">
                <h2>Schedule</h2>
                <h3>Catalyst Night</h3>
                <h4>Tuesday, 14 May @ The Good Lab</h4>
                <p>The Catalyst night is a precursor to Make.01 where participants propose their projects and form teams. We poll interest for each suggested project - you can propose as many as you like - and cull the ones which have too few supporters.</p>
                <p>We'll end with a solid set of feasible projects that have sufficient backers to be completed over the weekend. As some project may take fewer people and less time to complete, we'll also try to come up with a sensible schedule for spreading them out over the weekend. Anyone got a fancy algorithm for that?</p>
                <p>For the uninitiated - that'd be all of us really - we'll have a primer on the scope of Open Data and delineate what sorts of issues and applications you can address at Make.01. We'll also introduce you to some of Hong Kong's OpenData datasets, tools and applications currently available.</p>
                <p>The catalyst night is held earlier on in the week so you can take care of the more mundane preparations before Make.01 (e.g. printing templates, setting up a development environment, setting on a tool chain) and just spend the weekend making.</p>
                <table>
                    <tr>
                        <td>19:00</td>   
                        <td>Event Opening</td>   
                    </tr>
                    <tr>
                        <td>19:15</td>   
                        <td>Data.One: Datasets, Tools, and Applications</td>   
                    </tr>
                    <tr>
                        <td>19:30</td>   
                        <td>Pitching and Culling Projects.</td>   
                    </tr>
                    <tr>
                        <td>20:00</td>   
                        <td>Team formation and Project Consolidation.</td>   
                    </tr>
                    <tr>
                        <td>21:00</td>   
                        <td>Announcing the Project Teams.</td>   
                    </tr>
                </table>
              

                <h3>Make.01</h3>
                <h4>Saturday, 18 May @ The Good Lab</h4>                
                <p>The first day of Make.01 is spent laying the ground-work for your projects. Convene at the GoodLab at noon and get your creative juices flowing! Before dinner, we'll get together to hear how each project is developing. Each team delivers a short, 2 minute presentation on where they are at, and what challenges they're facing.</p>
                <p>To make sure everyone gets to their accommodation in time, we close shop half an hour before the last MTR passes by Cheung Sha Wan.</p>
                <table>
                    <tr>
                        <td>12:00</td>
                        <td>Doors Open</td>
                    </tr>
                    <tr>
                        <td>18:30</td>
                        <td>Progress Report: 2 Min presentation on challenges and developments</td>
                    </tr>
                    <tr>
                        <td>19:00</td>
                        <td>Pizza Delivery! Courtesy of 'DemystData'</td>
                    </tr>
                    <tr>
                        <td>00:00</td>
                        <td>Doors Close</td>
                    </tr>
                </table>
               
                <h4>Sunday, 19 May @ The Good Lab</h4>
                <p>On the second day of Make.01 we'll work against the clock and polish our prototypes/designs/apps for the final round of presentations at 17:15.</p>
                <p>If a full weekend is too much of a commitment, short track (1 day) tickets are also available. Sunday is the recommended day for short trackers to participate as it's still possible to present the project at day's end. The established teams will also bring the short trackers up to speed on their progress so they can possibly join them.</p>
                <table>
                    <tr>
                        <td>10:00</td>
                        <td>Doors Open</td>
                    </tr>
                    <tr>
                        <td>10:30</td>
                        <td>Progress Report: 2 Min presentation on challenges and developments.</td>
                    </tr>
                    <tr>
                        <td>17:15</td>
                        <td>Final Presentations</td>
                    </tr>
                    <tr>
                        <td>18:45</td>
                        <td>Closing Words</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </section>
    <section id="faq">
        <div class="row">
         <div class="span12">
                <div class="event-panel">
                           <h2>FAQ</h2>

            <div class="accordion-group">
                <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse15">
                        <h4>Where can I register?</h4></a>
                    </div>
                    <div id="collapse15" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <p>Registrations are dealt with via <a href="http://make01.eventbrite.com/">Eventbrite</a>. You may opt to pay cash in person, but you will need to register to secure participation.</p>          
                      </div>
                  </div>
              </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
                        <h4>What is the purpose of Make.01?</h4></a>
                    </div>
                    <div id="collapse1" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <p>The immediate purpose of Make.01 is to provide makers with a time, a venue and the collaborators for them to realize their Open Data related ideas. Make.01 is thus organized for the benefit and enjoyment of its participants as we believe that if you provide them with those bare essentials, beautiful and worthwhile things will happen.</p>
                        <p>The broader objective is to foster a community of makers and Open Data advocates who can further advance the adoption of Open Data in Hong Kong.</p>                      
                      </div>
                  </div>
              </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
                        <h4>What should I bring to Make.01?</h4></a>
                    </div>
                    <div id="collapse2" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <p>Bring whichever tool, material or device you need to be productive. This can range from your home-made 3D printer to something as crafty as a pencil. Everyone will have access to a power socket and WiFi, and we'll also provide some stationary for brainstorming and outlining your ideas.</p>
                      </div>
                  </div>
              </div>


            <div class="accordion-group">
                <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
                        <h4>I can't commit for the full weekend. Can I still join?</h4></a>
                    </div>
                    <div id="collapse3" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <p>Yes - although full weekend makers have priority. There are short track tickets available if you can only make it on one of the days - preferably Sunday so you can still present at the final round of presentation. We understand that some project you're interested in would only take a day or less to build, so it's fine if you suggest and participate in projects that don't take up the whole weekend. At the catalyst night you can also discuss with your team members how you'd divide the work, and at what part of the process your skill set is most effective.</p>
                      </div>
                  </div>
              </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
                        <h4>What's the difference between the weekend and short-track tickets?</h4></a>
                    </div>
                    <div id="collapse4" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <p>To accommodate those who just want to try this out, or simply aren't able to commit to a weekend of marvellous making, short track tickets are available. These tickets are equal is all ways to the full weekend tickets, apart from indicating to the organization that you'll only attend one of the two days.</p>
                        <p>Even if you sign up for a short track ticket, we urge you to participate on the catalyst night as we'll pick the projects and create the teams for the weekend.</p>
                        <p>Also, if you are not otherwise constrained, Sunday would be the preferred day for short trackers as they'd still be able to be present at the final round of presentations</p>
                      </div>
                  </div>
              </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
                        <h4>What kind of projects can I suggest?</h4></a>
                    </div>
                    <div id="collapse5" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <p>We take a very broad definition of making. Any creative act where you devise and implement an idea falls within the purview of making. Making is as much about the practice of tinkering, playing with available tools and developing your own, as it is about building the end product.</p>
                        <p>Whether the result is thus a set of definitions, a icon-graphic language, a web entity, a physical object, or a friendly robot, you've <em>made</em> it if it came about through an iterative problem solving process where often the biggest challenge was to make everything work together. In sum, Making is ascending above the limitations of what you're given.</p>
                        <p>As long as you believe your project fits that description, it's feasible to deliver over a weekend, and is relevant to Open Data, then it's the perfect project for Make.01.</p>  
                      </div>
                  </div>
              </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse6">
                        <h4>How will the projects be judged?</h4></a>
                    </div>
                    <div id="collapse6" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <p>Make.01 isn't a contest. Other than being connected to Open Data, there aren't any criteria your project needs to abide to. Having said that, participants will vote for their favourite projects and several Raspberry Pis have been made available for the most popular team.</p>
                      </div>
                  </div>
              </div>

            <div class="accordion-group">
            <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse7">
                        <h4>I am not a developer, designer, journalist, or any of the other fancy professions you name-dropped in the participants section, is this event still for me?</h4>
                        </a>
                    </div>
                    <div id="collapse7" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <p>The event is set up to be maximally inclusive. If you have an interest in or ideas for what Open Data can do for government, citizens and business, check out some of the <a href="#projects">proposed projects</a> and see if there's any which you could contribute to. There's some which focus on figuring out how Open Data can be improved in Hong Kong. These could benefit from your experience, research, and analytical skills. Also don't knock Make.01 as an opportunity to pick up new skills! In the maker spirit, propose a simple data visualization project, or join an existing one and learn from the people around you!</p>
                        <p>If you are still not sure whether the event is for you, perhaps sign up for short track tickets and attend for one day only.</p>
                      </div>
                  </div>
              </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse8">
                        <h4>What will happen to the projects after Make.01? </h4></a>
                    </div>
                    <div id="collapse8" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <p>OpenDataHK is still a very young community, but we intend to spearhead the development of several Open Data projects. One of them is this very web site which can serve as a repository of Open Data resources and projects relevant to Hong Kong.</p>
                        <p>The Make.01 projects will first appear on this website as suggestions, when they are picked up by a team they will be featured on this page as one of the outcomes of the event. If the team is willing to develop the project beyond Make.01, or it is already finalized, they'll have the opportunity to be featured in our Open Data projects index. [Currently under development]</p>
                      </div>
                  </div>
              </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse9">
                        <h4>What are the food arrangements for Make.01?</h4></a>
                    </div>
                    <div id="collapse9" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <p>The <em>Good Restaurant</em> is just below the venue where we are hosting Make.01. DemystData has also sponsored pizza for all attendees on Saturday. Beyond that we suggest you bring sufficient drinks and food to the venue.</p>
                      </div>
                  </div>
              </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse10">
                        <h4>Where can I learn more about Open Data?</h4></a>
                    </div>
                    <div id="collapse10" class="accordion-body collapse">
                      <div class="accordion-inner">
                    <p>The <a href="http://opendatahandbook.org/en/what-is-open-data/">Open Data Handbook</a> is an excellent resource to familiarize yourself with Open Data. For developments specific to Hong Kong, you may consult our <a href="https://plus.google.com/communities/107947866980791843501">Google+ Group</a>. To find out what the Hong Kong government is currently providing, you can consult their <a href="http://www.gov.hk/en/theme/psi/datasets/">Data.One</a> initiative</p>
                      </div>
                  </div>
              </div>


            <div class="accordion-group">
                <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse11">
                        <h4>Does Make.01 have any ancestors? </h4></a>
                    </div>
                    <div id="collapse11" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <p>You'd be surprised how Frequently this Question was Asked! Make.01 takes its inspiration from the highly enjoyable Code Code, organized by Matthew Rudy Jacobs, Steve Holmes and Eddie Lau.</p>
                      </div>
                  </div>
              </div>


            <div class="accordion-group">
                <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse12">
                        <h4>Who is organising this?</h4></a>
                    </div>
                    <div id="collapse12" class="accordion-body collapse">
                      <div class="accordion-inner">
                    <p>Make.01 is organized as part of OpenDataHK, a community of Open Data advocates and practitioners in Hong Kong. OpenDataHK events are member-lead, meaning that anyone can organize and lead an event according to their own designs. Make.01 is organized by Mart van de Ven with support from the Open Data HK Community</p>
                      </div>
                  </div>
              </div>


            <div class="accordion-group">
                <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse13">
                        <h4>What if my question wasn't answered in the FAQ?</h4></a>
                    </div>
                    <div id="collapse13" class="accordion-body collapse">
                      <div class="accordion-inner">
                      
                        <p>Shoot the organization an <a href="mailto:make@opendatahk.com?Subject=Question">e-mail!</a></p>

                      </div>
                  </div>
              </div>

                </div>
            </div>
        </div>
        </div>
    </section>
    </div>
</div>