<div class="container landing">
  <div class="row">
    <div class="span12">
      <div class="banner-container">
        <h1 class="hide-text">Open Data Hong Kong</h1>
      </div>
      <footer>
        <p>The data renaissance is here. Be a part of it.</p>
      </footer>
    </div>
  </div>
  <div class="row">
    <div class="blog span8">
      <h2>Recent Blog Entries</h2>
      <% @posts.each do |p| %>
        <section style="background-image: url(<%= post_img_html(p) %>)">
          <div>
          <h3><%= p.title %></h3>
          <%= post_summary_html(p) %>
          </div>
        </section>
      <% end %>
    </div><!--/span-->
    <div class="event span4">
      <h2>Upcoming Events</h2>
      <% @events.each do |e| %>
        <section style="background-image: url(<%= event_image_url(e) %>)">
          <div>
          <a href="<%= event_path e %>"><h3><%= e.title %></h3></a>
          <p><%= e.location %>
          <a href="<%= e.google_plus %>"></a>
          <a href="<%= e.facebook %>"></a>
          </p>
          </div>
        </section>
      <% end %>
    </div>
  </div>
  <!-- <div class="row">
    <div class="person span3">
    </div>
    <div class="project span9">
    </div>
  </div>-->
</div>

