<div class="row">
	<%= image_tag "logo/odhk.png", :class => 'logo' %>
</div>
<div class="container">
  <div class="row">
    <div class="span4 col">
      	<header><h2>OPEN DATA</h2></header>
      	<section>
        <div class="image-container span4">
          <%= image_tag "col/4.jpg" %>
        </div>
        <p>... is the idea that certain data should be freely available to everyone to use and republish as they wish, without restrictions from copyright, patents or other mechanisms of control.[1] The goals of the open data movement are similar to those of other "Open" movements such as open source, open hardware, open content, and open access. The philosophy behind open data has been long established (for example in the Mertonian tradition of science), but the term "open data" itself is recent, gaining popularity with the rise of the Internet and World Wide Web and, especially, with the launch of open-data government initiatives such as Data.gov and Data.gov.uk.</p>
          <div class="noun-container span4">
          <%= image_tag "icon/bigidea.svg" %>
        </div>
        <h3>Explosive!</h3>
        <p> science), but the term "open data" itself is recent, gaining popularity with the rise of the Internet and World Wide Web and, especially, with the launch of open-data government initiatives such as Data.gov and Data.gov.uk.</p>
        </section>
        <footer>
          <div class="label pull-right">Next Event</div>
          <ul>
            <li>Venue: Delaney's</li>
            <li>Date: Monday, 23 June 2013</li>
            <li>Address: 190 Lockhart Rockhart Road</li>
          </ul>
        </footer>
      </div><!--/span-->
    <div class="span4 col">
        <header><h2>WE</h2></header>
        <section>
        <div class="image-container span4">
          <%= image_tag "col/0.jpg" %>
        </div>
        <p>... are a community dedicate to preserving its history.  We are maintaining that small town safety and style of living while moving forward in areas of new business and growth in order to enhance our already rich culture.  With the new Upper Elementary School opening in 2009 plus the rest of the R-VII campus we offer the best in education and extracurricular activities from band, football, basketball, volleyball, golf, track along with baseball, softball and tennis, all of which have new facilities.</p>
        <div class="noun-container span4">
          <%= image_tag "icon/blackboard.svg" %>
        </div>
        <h3>Getting There</h3>
        <p>For those relocating to Odessa, the real estate market is brimming with great housing opportunities, appealing to everyone.  With the low median home price in the $120,000's, real estate is affordable to first time homebuyers, growing families as well as empty nesters.  There are historic homes as well as newer traditional homes available at very affordable prices.  With our expert professional real estate agents, specializing in Lafayette-Eastern Jackson-Northern counties, are available & ready to help you find YOUR perfect property.  </p>
      </section>
        <footer>
          <div class="label pull-right">Next Event</div>
          <ul>
            <li>Venue: Delaney's</li>
            <li>Date: Monday, 23 June 2013</li>
            <li>Address: 190 Lockhart Rockhart Road</li>
          </ul>
        </footer>
      </div><!--/span-->
    <div class="span4 col">
        <header><h2>GET INVOLVED</h2></header>
        <section>
          <div class="image-container span4">
            <%= image_tag "col/3.jpg" %>
          </div>
          <p>For those relocating to Odessa, the real estate market is brimming with great housing opportunities, appealing to everyone.  With the low median home price in the $120,000's, real estate is affordable to first time homebuyers, growing families as well as empty nesters.  There are historic homes as well as newer traditional homes available at very affordable prices.  With our expert professional real estate agents, specializing in Lafayette-Eastern Jackson-Northern counties, are available & ready to help you find YOUR perfect property.  </p>
          <div class="noun-container span4">
            <%= image_tag "icon/artwork.svg" %>
          </div>
          <h3>Participation</h3>
          <p>... are a community dedicate to preserving its history.  We are maintaining that small town safety and style of living while movnd extracurricular activities from band, football, basketball, volleyball, golf, track along with baseball, softball and tennis, all of which have new facilities.</p>
      	</section>
        <footer>
          <div class="label pull-right">Next Event</div>
          <ul>
            <li>Venue: Delaney's</li>
            <li>Date: Monday, 23 June 2013</li>
            <li>Address: 190 Lockhart Rockhart Road</li>
          </ul>
        </footer>
      </div><!--/span-->
  </div><!--/row-->
</div><!--/container-->

