<div class="container landing">
  <div class="row">
    <div>
      <% @posts.each do |post| %>
        <%= post.title %>
        <%= post_content_html(post) %>
        <%= post_summary_html(post) %>
      <% end %>
    </div><!--/span-->

    <div class="span4 col">
      	<header><h2>OPEN DATA</h2></header>
      	<section>
        <div class="image-container span4">
          <%= image_tag "col/4.jpg" %>
        </div>
        <p>... is the idea that certain data should be freely available to everyone to use and republish as they wish, without restrictions from copyright, patents or other mechanisms of control. The philosophy behind open data itself is recent, gaining popularity with the rise of the Internet and World Wide Web and, especially, with the launch of open-data government initiatives such as Data.gov and Data.gov.uk. Prototypical examples of Open Data are weather information, transit schedules, local pollution surveys and traffic data. With Open Data developers can make apps for mobile devices, researchers can study stats and trends using spreadsheets, and government can work with the public to better improve services.</p>
        </section>
        <footer>
          <div class="label pull-right">Next Event</div>
          <ul>
            <li>See <a href="/events">our events page</a></li>
          </ul>
        </footer>
      </div><!--/span-->
    <div class="span4 col">
        <header><h2>WE ARE</h2></header>
        <section>
        <div class="image-container span4">
          <%= image_tag "col/0.jpg" %>
        </div>
        <p>... an open and participatory community of Open Data enthusiasts in Hong Kong. We spread awareness and understanding about Open Data, connect enthusiasts with each other to collaborate, and advocate for more and better Open Data. Anyone can join, take part and lead. <a href="/about">See more here.</a></p>
      </section>
        <footer>
          <div class="label pull-right">Next Event</div>
          <ul>
            <li>See <a href="/events">our events page</a></li>
          </ul>
        </footer>
      </div><!--/span-->
    <div class="span4 col">
        <header><h2>GET INVOLVED</h2></header>
        <section>
        <div class="image-container span4">
          <%= image_tag "col/3.jpg" %>
        </div>
            <p>with the community and help improve Open Data in Hong Kong! You can connect with the community online by participating on our <a href="https://plus.google.com/communities/107947866980791843501">Google+ page</a>, attend one of our <a href="/events">regular events</a>, or get involved with any of the <a href="/projects">ongoing projects</a>. Anyone can take part and lead, and it starts with first getting involved. Feel free to ask <a href="https://plus.google.com/communities/107947866980791843501">engage and ask a question</a> or drop us <a href="mailto:info@opendatahk.com">an email</a> to find out more.</p>
      	</section>
        <footer>
          <div class="label pull-right">Next Event</div>
          <ul>
            <li>Venue: Delaney's</li>
            <li>Date: Monday, 6 June 2013</li>
            <li>Address: 190 Lockhart Rockhart Road</li>
          </ul>
        </footer>
      </div><!--/span-->
  </div><!--/row-->
</div><!--/container-->

