<div class="wide-container container-fluid clear">
        <div class="fluid-row">
            <a href="/projects/new/" class="button pull-right">+</a>
            <!-- <h1>Projects: Ideas</h1> -->
            <section id="projects">
                <% @projects.each do |project| %>
                <div class="panel col" data-stage="<%= project.stage %>">
                    <header>
                        <h2><a href="/projects/<%= project.id %>"><%= project.title %></a></h2>
                    </header>
                    <section>
                    <div class="image-container">
                      <%= image_tag project.cover %>
                    </div>
                      <span class="label pull-left label-inverse"><%= project.stage %></span>
                    <%= raw(truncate(project.description, :length => 500, :separator => ' ', :omission => '... (<a href="projects/'+project.id.to_s+'">more</a>)')) %>
                    </section>
                    <footer>
                      <ul>
                            <li>
                                <span class="label label-inverse">By</span>
                             <a href="/users/<%= project.project_roles.where("role = 'owner'").first.user.id %>"><%= project.project_roles.where("role = 'owner'").first.user.name %></a></li>
                        <% if project.project_roles.where("role = 'member'").present? %>
                            <li><span class="label label-inverse">Members</span>
                                <% project.project_roles.where("role = 'member'").each do |member| %>
                                    <a href="/users/<%= member.user.id %>">
                                        <%= member.user.name %>
                                    </a>, 
                            </li>
                            <%end%>
                        <%end%>
                        <% if project.url.present? %>
                            <li>
                                <span class="label label-inverse">External</span>
                                <a href="<%= project.url %>">Link</a></li>
                        <%end%>
                      </ul>
                    </footer>
                </div><!--/span-->
                <% end %>
            </section>
        </div>
</div>

<%= javascript_include_tag "imagesloaded" %>
<%= javascript_include_tag "packery" %>

<script>

var container = document.querySelector('#projects');
    // initialize
var pckry = new Packery( container, {
    // options
    itemSelector: '.panel',
    gutter: 25
});

// layout Packery after all images have loaded
imagesLoaded( container, function() {
  pckry.layout();
});

</script>