= content_tag_for :article, post do
  %header
    %div.banner_container
      = image_tag post_img_html(post)
      %h2.category= link_to post.category, post
      %h1= link_to post.title, post
    .meta
      = image_tag post.gravatar_url(:size => 32, :default => 'identicon'), :height => 32, :width => 32
      %span.author
        = post.author
      %time{:pubdate => 'true', :datetime => post.timestamp.iso8601}
        = post.date.strftime '%e %B %Y'
      %span.date Posted on 
  - if summary
    .row
      .span12#summary
        %span.more= link_to 'Read More&hellip;'.html_safe, post
        = post_summary_html post
  - else
    ~ post_content_html post
