<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @series.name %>
</p>

<p>
  <b>Description:</b>
  <%= @series.description %>
</p>


<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_path %>
