<%= form_for(@microbes) do |f| %>
  <% if @microbes.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@microbes.errors.count, "error") %> prohibited this microbes from being saved:</h2>

      <ul>
      <% @microbes.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
