<div class="container new-project">
  <section class="crud">
<div>
      <h3>Microbe Wall</h3>
      <% @microbes.each do |microbe| %>
          <div class="microbeWrapper">
            <div class="avatar">
              <a href="/users/<%= microbe.user.id %>"><img class="avatar" src="<%= microbe.user.avatar %>"></a>
            </div>
            <div class="project">
              <% if microbe.project.present? %>
                <a href="/projects/<%= microbe.project.id %>"><img class="project" src="<%= microbe.project.cover %>"></a>
            <% else %>
                <img class="project" src="https://secure.gravatar.com/avatar/4f540aa28cecd1443c0935b725933b75?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png">
            <% end %>
            </div>
            <div class="content">
              <p> <%= microbe.content %> </p>
            </div>
          </div>
      <% end %>
  </div>

  </section>
</div>

